body {
  margin: 0;
  background-color: #BE90D4;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 3%;
  background-color: #dcc6e0;
}

.nav-boxes {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}


.search-by-name,
button {
  cursor: pointer;
}

label > input[type="radio"]:checked + * {
  color: rgb(120, 2, 255);
}

.logo-box {
  border: none;
  width: 10%;
  background-color: #F1A9A0;
  cursor: pointer;
  color: black
}

.error-message-favorites,
.error-message {
  margin: 0;
}

.error-message-favorites,
.error-message,
.user-box {
  color: black;
  margin-left: 40px;
}

h2 {
  margin-top: -4px;
  margin-bottom: 1px;
  margin-left: 31px;
  margin-right:31px;
}
.search {
  display:flex;
  justify-content: center;
}

.previews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  margin-top: 60px;
}

.food-preview {
  height: 150px;
  width: auto;
}

.all-recipes {
  display: flex;
  background: #e9e8e8;
  height: 300px;
  width: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px;
  cursor: pointer;
}

.selected-recipe-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recipe-text {
  display: flex;
  justify-content: space-evenly;
}

.selected-text {
  margin: 10%;
}

.search-results-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.populated-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filtered-image {
  height: 100px;
  width: auto;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.success-message-none, .sad-message-none{
  display: none;
}
.success-message-show, .sad-message-show {
  z-index: 10;
  position: fixed;
  top: 38%;
  right: 20%;
  font-weight: bold;
  display: show;
}
